@{
    ViewBag.Title = "Sonuçlar";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            @ViewBag.Title
        </h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="form-group col-lg-2">
                    <label for="select-exam-type">Sınav Adı</label>
                    <select id="select-exam-type" class="form-control">
                        <option value="">Seçiniz</option>
                        @foreach (var exam in ViewBag.ExamList)
                        {
                            <option value="@exam.Id">@exam.ExamName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="box-body">
                <div id="tableResult" style="height: 100%;; width: 100%;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body table-responsive">
                                <table id="table-result" style="width:100%" class="table table-bordered dataTable table-hover">
                                    <thead>
                                    <tr role="row">
                                        <th>Sınav Adı</th>
                                        <th>Kullanıcı Adı</th>
                                        <th>Sınav Soru Sayısı</th>
                                        <th>Doğru Cevap Sayısı</th>
                                        <th>Yanlış Cevap Sayısı</th>
                                        <th>Puanı (%100)</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody-result"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Scripts/verticalTabs.js"></script>
<script>
    var oTableResult;
    var IdToEdit = 0;
    var CanEditPath = true;
    $(document).ready(function () {
        initTableResult();
    });
    $("#select-exam-type").change(function () {
        oTableResult.fnDraw();
    });
</script>
@section Scripts {
    @Scripts.Render("~/Scripts/result")
}